<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group2.dungeonraider" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_back"
        android:label="@string/app_icon_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.group2.dungeonraider.controller.MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.Setting" android:screenOrientation="landscape" android:label="Setting">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.NewGame" android:screenOrientation="landscape" android:label="NewGame">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.ScoreCard" android:screenOrientation="landscape" android:label="ScoreCard">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.Level" android:screenOrientation="landscape" android:label="Level">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.Help" android:screenOrientation="landscape" android:label="Help">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.Store" android:screenOrientation="landscape" android:label="Store">
        </activity>
        <activity android:name="com.group2.dungeonraider.data.Play" android:screenOrientation="landscape" android:label="Play" android:noHistory="true">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.PurchaseDungeonItems" android:screenOrientation="landscape" android:label="PurchaseDungeonItems ">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.EquipMutator" android:screenOrientation="landscape" android:label="EquipMutator ">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.Purchase_Mutator" android:screenOrientation="landscape" android:label="PurchaseMutator ">
        </activity>
        <activity android:name="com.group2.dungeonraider.controller.EndLevel" android:screenOrientation="landscape" android:label="EndLevel ">
        </activity>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>